<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item ml-3"><a href="" class="nav-link">DESIGN</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">INSPIRATIONS</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">SPORTS</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">E-SPORTS</a></li>
      </ul>
    </div>
  </div>
</nav>
