<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="singlepost"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center">Views - 100,256</small>
          <small class="bg-light text-warning text-center"
            >LAST UPDATED - JAN, 10 2023</small
          >
          <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2022</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nibh
            scelerisque, consequat lectus ut, tincidunt sem. Vestibulum laoreet
            nunc id enim laoreet volutpat. Donec in nulla condimentum, imperdiet
            ligula a, placerat massa. Fusce commodo est sit amet nunc placerat,
            vitae efficitur magna interdum. Vivamus et congue orci. Pellentesque
            semper purus ut mi sollicitudin, sed iaculis ante imperdiet. Ut
            varius sit amet sem quis pellentesque. Donec placerat sit amet massa
            at elementum. Etiam quis tellus id augue vehicula pretium et id
            dolor. Nam rhoncus in tellus eu scelerisque. Phasellus non diam ac
            lectus lacinia auctor id non sapien.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
